
.title{
    size: 100rem;
    text-align: center;
}
body {
    background-image: linear-gradient(to right top, #9A1550, #4D0525);
    background-repeat: no-repeat;
    height: 100vh;

}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #fff !important;
    color: #9a1550 !important;
    border-bottom: 4px solid #9a1550 !important
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
    color: #000
}

.nav-tabs .nav-link {
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important
}

.nav-tabs .nav-link.active {
    border-color: transparent;
    background-color: #60D0FF;
    color: #fff;
    font-weight: 600
}

.nav-link {
    height: 77px;
    font-size: 13px;
    background-color: #fff
}

.nav-link:hover {
    border: none
}

.nav-link:focus {
    outline: none
}

.tab-pane {
    height: 300px
}

.form-control {
    height: 45px;
    position: relative
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #9a1550
}

.flight-where-from:after {
    position: absolute;
    content: '23';
    width: 20px;
    height: 20px;
    border-radius: 50%
}

.custom-button {
    height: 45px;
    background-color: #9a1550;
    border: none;
    color: #fff
}

.custom-button:hover,
.custom-button:focus {
    background-color: #9a1550;
    box-shadow: none;
    outline: none
}

.scroll-y {
    overflow-y: scroll;
    height: 300px
}

body {
    background-color: #eee
}

.checkbox_collapse .panel.panel-default {
    padding: 0px !important;
    margin-bottom: 10px;
    border-radius: 0px
}

.checkbox_collapse .panel.panel-default span.circle {
    width: 18px;
    height: 18px;
    position: relative;
    border: 1px solid #ccc;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #fff;
    display: inline-flex;
    vertical-align: middle
}

.checkbox_collapse .panel.panel-default span.circle:after {
    width: 25px;
    content: "";
    background: url(https://image.flaticon.com/icons/svg/64/64484.svg);
    position: absolute;
    left: 3px;
    right: 0;
    margin: 0 auto;
    top: 4px;
    z-index: 99999;
    background-size: 10px;
    height: 25px;
    opacity: 0;
    background-repeat: no-repeat
}

.checkbox_collapse .panel.panel-default a {
    padding: 15px;
    background-color: #009688;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;
    display: block;
    border-radius: 5px
}

.checkbox_collapse .panel.panel-default a[aria-expanded="false"]:after {
    display: none !important
}

.checkbox_collapse .panel.panel-default a[aria-expanded="false"] span:after {
    opacity: 0
}

.checkbox_collapse .panel.panel-default a[aria-expanded="true"]:after {
    display: none !important
}

.checkbox_collapse .panel.panel-default a[aria-expanded="true"] span:after {
    opacity: 1
}

/*---------------------------------------------*/
